STATION_NAME=Your Station Name
AZURACAST_BASE_URL=http://host.docker.internal
AZURACAST_STATION_SHORT_NAME=station_short_name
AZURACAST_MOUNT_NAME=radio.mp3
OVERLAY_PORT=8089
FALLBACK_UP_NEXT=
STATION_LOGO_URL=https://djmixhub.com/wp-content/uploads/2026/05/logo.jpg
